* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('../../Assets/BGPBL.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100%;
    height: auto;
    max-width: 100px;
}

.login-container {
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-bottom: 20px;
    font-size: 14px;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 12px 40px;
    border: 1px solid #1034A6;
    border-radius: 5px;
    background: rgba(95, 199, 38, 0.1);
    color: #333;
    outline: none;
}

.input-group input:focus {
    border-color: #1034A6;
    box-shadow: 0 0 5px rgba(95, 199, 38, 0.5);
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #1034A6;
}

button {
    width: 100%;
    padding: 12px;
    background: #1034A6;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: #4da31f;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:active {
    transform: translateY(0);
    box-shadow: none;
}

.forgot-password {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    text-align: center;
    font-size: 14px;
}

.forgot-password a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.forgot-password a:hover {
    color: #C5D1F8;
    text-decoration: underline;
}