body {
    background-image: url('../../Assets/BGPBL.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Poppins', Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #ffffff;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    width: 400px; 
}

.container h1 {
    font-size: 24px;
    font-weight: 600;
    color: #72b626; 
    text-align: center;
    margin-bottom: 10px;
}

.container p {
    font-size: 16px;
    font-weight: 400;
    color: #555555;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 14px;
    font-weight: 500;
    color: #555555;
    margin-bottom: 5px;
    display: block;
}

.form-group input[type="password"] {
    padding: 12px;
    border: 2px solid #d4e157;
    border-radius: 5px;
    background-color: #f0f9e8;
    width: 100%;
    font-size: 14px;
}

.form-group .button-container {
    position: absolute;
    bottom: -50px;
    right: 0;
}

.form-group .button-container button {
    background-color: #72b626; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.form-group .button-container button:hover {
    background-color: #5e9d22;
}

.container .link-footer {
    margin-top: 60px; /* Menambahkan jarak agar tidak tumpang tindih */
    /* text-align: center; */
}

.container .link-footer a {
    font-size: 14px;
    font-weight: 400;
    color: #3498db;
    text-decoration: none;
}

.container .link-footer a:hover {
    text-decoration: underline;
}